body * {
  font-family: "Consolas", "Microsoft Yahei", Arial, sans-serif;
}

body {
  background: #222;
  margin: 0;
  padding: 0;
}

p {
  color: #ccc;
}

a:link {
  color: #eee;
}

a:visited {
  color: #888;
}

.nameinput {
  outline-style: none;
  border: 1px solid #ccc;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 1px;
  width: 110px;
  font-size: 13px;
  color: #ccc;
  font-family: "Consolas", "Microsoft Yahei", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  background: #333;
}

.nameinput::placeholder {
  color: #969696;
  font-size: 13px;
  font-family: "Consolas", "Microsoft Yahei", Arial, sans-serif;
  font-weight: bold;
}

.nameinput:focus {
  border: 2px solid #ccc;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.container {
  width: 500px;
  float: left;
}

.container > .title {
  color: #bbb;
  font-weight: bold;
  margin-bottom: 10px;
  background: #222;
  border: 1px solid #ccc;
  padding: 5px 15px;
}

.adlink {
  text-align: center;
  font-size: 11pt;
}

.adlink a {
  text-decoration: none;
  display: block;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 10px;
  background: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10pt;
  margin-top: 10pt;
}

.date {
  font-size: 16pt;
  font-weight: bold;
  line-height: 32pt;
  text-align: center;
  color: #ccc;
}

.someday .date {
  font-size: 15pt;
  font-weight: bold;
  line-height: 22pt;
  text-align: center;
  color: #ccc;
}

.split,
.clear {
  clear: both;
  height: 5px;
  overflow-y: hidden;
}

.blank {
  clear: both;
  height: 30px;
  overflow-y: hidden;
}

.good,
.bad {
  clear: both;
  position: relative;
}

.bad {
  /*top: -1px;*/
}

.good .title,
.bad .title {
  float: left;
  width: 100px;
  font-weight: bold;
  text-align: center;
  font-size: 30pt;
  position: absolute;
  top: 0;
  bottom: 0;
}

.good .title > table,
.bad .title > table {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.good .title {
  background: #ffee440c;
  border-radius: 10px 0px 0px 0px;
  color: #ffee44;
}

.someday .good .title {
  background: #ddd;
  border-radius: 10px 0px 0px 0px;
}

.bad .title {
  background: #ff44440c;
  color: #ff4444;
  border-radius: 0px 0px 0px 10px;
}

.someday .bad .title {
  background: #666666;
  color: #ddd;
  border-radius: 0px 0px 0px 10px;
}

.good .content {
  margin-left: 115px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 15pt;
}

.bad .content {
  margin-left: 115px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 15pt;
}

.someday .good {
  background: #333;
}

.someday .bad {
  background: #333;
}

.good {
  background: #332;
  border-radius: 10px 10px 0px 0px;
}

.bad {
  background: #322;
  border-radius: 0px 0px 10px 10px;
}

.content ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.content ul li {
  line-height: 150%;
  font-size: 15pt;
  font-weight: bold;
  color: #ccc;
}

.content ul li div.description {
  font-size: 11pt;
  font-weight: normal;
  color: #888;
  line-height: 110%;
  margin-bottom: 10px;
}

.line-tip {
  font-size: 11pt;
  margin-top: 10px;
  margin-left: 10px;
  color: #ccc;
}

.line-description {
  font-size: 9pt;
  margin-top: 7px;
  margin-left: 10px;
  color: #ccc;
}

.direction_value {
  color: #4a4;
  font-weight: bold;
}

.bbq_value {
  font-weight: bold;
}

.drink_value {
  font-weight: bold;
}

.title_value {
  font-weight: bold;
}

.someday .direction_value {
  color: #888;
}

.goddes_value {
  color: #f87;
}

.someday .goddes_value {
  color: #777;
}

.comment {
  margin-top: 50px;
  font-size: 11pt;
  margin-left: 10px;
}

.comment ul {
  margin-left: 0;
  padding-left: 20px;
  color: #999;
}

.usernamebox {
  font-size: 11pt;
  text-align: center;
  line-height: 20px;
  font-weight: Bold;
  color: #ccc;
  font-family: "Consolas", "Microsoft Yahei", Arial, sans-serif;
}

.titlebox {
  background: #333;
  /*box-shadow: 0px 0px 15px 0px rgba(128, 128, 128, 0.1);*/
  border-radius: 10px;
  border-bottom: 0px;
  border-right: 0px;
  border-top: 0px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.toolcol {
  width: 420px;
  float: left;
  padding-left: 80px;
}

.senmurvTimer {
  width: 420px;
}

.senmurvTimer > .title {
  color: #bbb;
  font-weight: bold;
  background: #222;
  border: 1px solid #ccc;
  padding: 5px 15px;
}

.addbutton {
  background: #333;
  height: 50px;
  font-size: 11px;
  line-height: 50px;
  color: #ccc;
  text-align: center;
  border-radius: 10px;
  width: 420px;
  border: 0px;
  margin-top: 5px;
}
.addbutton:hover {
  background: #555;
}

.row {
  width: 420px;
  height: 60px;
  background: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.controls {
  margin-left: auto;
}

.timer {
  color: #bbb;
  font-size: 9pt;
  margin-left: 35px;
}

.counter {
  width: 30px;
  font-weight: bold;
  font-size: 15pt;
  border-radius: 10px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  margin-left: 15px;
}

.counter {
  background: #555;
  color: #eee;
}

.dcSel {
  width: 420px;
  height: 35px;
  background: #333;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.worldSel {
  width: 80px;
  height: 30px;
  background: #333;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.time-input-group {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ccc;
}

.time-input {
  width: 40px;
  height: 23px;
  text-align: center;
  color: #ccc;
  border: 1px solid #ccc;
  background: #333;
}

.time-label::after {
  content: "秒";
  margin-left: -10px;
  position: relative;
  z-index: 1;
  color: #ccc;
}

.eggtime {
  width: 80px;
  font-size: 9pt;
  color: #ccc;
  padding-right: -30px;
}

.recbtn {
  width: 60px;
  height: 30px;
  background: #555;
  border: 0px;
  color: #ccc;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
}

.recbtn:hover {
  background: #ccc;
  color: #333;
}

.yesbtn {
  width: 40px;
  height: 30px;
  background: #44a559;
  border: 0px;
  color: #ccc;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  margin-left: 2px;
}

.yesbtn:hover {
  background: #ccc;
  color: #333;
}

.nobtn {
  width: 40px;
  height: 30px;
  background: #bb3333;
  border: 0px;
  color: #ccc;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  margin-left: 2px;
}

.nobtn:hover {
  background: #ccc;
  color: #333;
}

.delebtn {
  background: #bb3333;
  color: #ccc;
}

.delebtn {
  width: 24px;
  height: 24px;
  font-weight: bold;
  font-size: 11pt;
  border: 0px;
  border-radius: 24px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 15px;
}

.delebtn:hover {
  background: #555;
  color: #eee;
}

.commenttools {
  margin-top: 20px;
  font-size: 9pt;
  margin-left: 4px;
}

.commenttools ul {
  margin-left: 0;
  padding-left: 20px;
  padding-right: 12px;
  color: #999;
}

.farmCalc {
  width: 420px;
  margin-top: 50px;
}

.farmCalc > .title {
  color: #bbb;
  font-weight: bold;
  background: #222;
  border: 1px solid #ccc;
  padding: 5px 15px;
}

.farmRow {
  width: 420px;
  height: 60px;
  background: #333;
  border: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.farmbuttonBad {
  background: #333;
  height: 50px;
  font-size: 11px;
  line-height: 50px;
  color: #ccc;
  text-align: center;
  border-radius: 10px;
  width: 205px;
  border: 0px;
  float: left;
}

.farmbuttonBad:hover {
  background: #bb3333;
  color: #ccc;
}

.farmbuttonGood {
  background: #333;
  height: 50px;
  font-size: 11px;
  line-height: 50px;
  color: #ccc;
  text-align: center;
  border-radius: 10px;
  width: 205px;
  border: 0px;
  margin-left: 10px;
}

.farmbuttonGood:hover {
  background: #44a559;
  color: #ccc;
}

.worldSelFarm {
  width: 80px;
  height: 30px;
  color: #ccc;
  background: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.farmSel {
  width: 100px;
  height: 30px;
  color: #ccc;
  background: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.failed {
  width: 45px;
  font-weight: bold;
  font-size: 15pt;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  line-height: 61px;
  padding-left: 1px;
  margin-right: 5px;
}

.failed {
  background: #bb3333;
  color: #ccc;
}

.succeed {
  width: 45px;
  font-weight: bold;
  font-size: 15pt;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  line-height: 61px;
  padding-left: 1px;
  margin-right: 5px;
}

.succeed {
  background: #44a559;
  color: #ccc;
}

.farmcount {
  width: 70px;
  height: 26px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #333;
  color: #ccc;
  font-size: 12pt;
}

.farmcount::placeholder {
  font-size: 10pt;
}

.farmRes {
  width: 420px;
  border: 2px solid #ccc;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px 0px 10px 10px;
  background: #333;
  margin-top: 10px;
  margin-bottom: -5px;
}

.farmRes ul {
  color: #ccc;
  margin-left: -35px;
  margin-top: -2px;
}

.succnum {
  font-weight: bold;
  font-size: 15pt;
  color: #44a559;
}

.failnum {
  font-weight: bold;
  font-size: 15pt;
  color: #bb3333;
}

.restext {
  margin-top: 15px;
  font-size: 8pt;
  text-align: center;
}

.restext2 {
  font-size: 8pt;
  padding-bottom: 15px;
  text-align: center;
}

.switcher {
  background: #555;
  height: 25px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  width: 100px;
  border: 1px solid #fff;
  font-weight: bold;
}

.switcher:hover {
  background: #fff;
  color: #555;
}
